html {
    height: 99%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

body {
    margin: 0;
    padding: 0;
    border-width: 0;
    min-width: 700px;
}

#bar {
    width: 100%;
    height: 25px;
    border-width: 0;
    background-color: #222222;
    color: #dbdbdb;
    font-family: 华文楷体;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#bar a {
    color: #dbdbdb;
    text-decoration: none;
    font-size: 14px;
    font-family: "Courier New", 华文楷体;
    line-height: 1.8;
    margin-left: 10px;
}

#bar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#bar li {
    float: left;
    height: 23px;
    margin-top: 2px;
    padding: 0 10px;
    cursor: default;
}

#bar li:hover {
    color: #ffffff;
}

#fuzzySearch {
    border: none;
    outline: none;
    padding: 2px;
}

#leftTools {
    margin-left: 10px;
}

#rightTools {
    float: right;
}

#container {
    min-height: 90vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

#left {
    width: 49%;
}

#in {
    width: 98%;
    height: 100%;
    white-space: pre-wrap;
    word-break: break-all;
    margin: 1% 1%;
    font-size: 12px;
    font-family: Consolas, Verdana, Arial, Helvetica, AppleGothic, sans-serif
}

[contenteditable]:focus {
    outline: none;
}

#right {
    margin-left: 10px;
    width: 50%;
    overflow-x: auto;
}

.tip {
    z-index: -100;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    color: #cfcfcf;
    font-size: 100px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#left .tip {
    left: 14%;
}

#right .tip {
    right: 15%;
}

.tip p {
    font-size: 20px;
}

#middle {
    border-left: 1px dashed;
    position: fixed;
    left: 49vw;
    height: 100%;
    top: -25px;
}

#gotoTop {
    position: fixed;
    bottom: 3vh;
    width: 40px;
    display: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    -khtml-user-drag: none;
    user-drag: none;
}

.ztree * {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Consolas, Verdana, Arial, Helvetica, AppleGothic, sans-serif
}

.ztree {
    margin: 0;
    padding: 5px;
    color: #333
}

.ztree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0
}

.ztree li ul {
    margin: 0;
    padding: 0 0 0 18px
}

.ztree li ul.line {
    background: url(../image/line_conn.gif) 0 0 repeat-y;
}

.ztree li a {
    padding: 1px 3px 0 0;
    margin: 0;
    cursor: default;
    height: 17px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block
}

.ztree li a.curSelectedNode {
    padding-top: 0px;
    background-color: #FFE6B0;
    color: black;
    height: 16px;
    border: 1px #FFB951 solid;
    opacity: 0.8;
}

.ztree li span {
    line-height: 16px;
}

.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: default;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../image/zTreeStandard.png");
    *background-image: url("../image/zTreeStandard.gif")
}

.ztree span.name {
    font-weight: bolder;
    margin-right: 2px
}

.ztree span.searchTarget {
    color: whitesmoke;
    background-color: darkred;
}

.ztree li span.button.switch {
    width: 18px;
    height: 18px
}

.ztree li span.button.root_open {
    background-position: -92px -54px
}

.ztree li span.button.root_close {
    background-position: -74px -54px
}

.ztree li span.button.roots_open {
    background-position: -92px 0
}

.ztree li span.button.roots_close {
    background-position: -74px 0
}

.ztree li span.button.center_open {
    background-position: -92px -18px
}

.ztree li span.button.center_close {
    background-position: -74px -18px
}

.ztree li span.button.bottom_open {
    background-position: -92px -36px
}

.ztree li span.button.bottom_close {
    background-position: -74px -36px
}

.ztree li span.button.noline_open {
    background-position: -92px -72px
}

.ztree li span.button.noline_close {
    background-position: -74px -72px
}

.ztree li span.button.root_docu {
    background: none;
}

.ztree li span.button.roots_docu {
    background-position: -56px 0
}

.ztree li span.button.center_docu {
    background-position: -56px -18px
}

.ztree li span.button.bottom_docu {
    background-position: -56px -36px
}

.ztree li span.button.noline_docu {
    background: none;
}

.ztree li span.button.ico_open {
    margin-right: 2px;
    background-position: -110px -16px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.ico_close {
    margin-right: 2px;
    background-position: -110px 0;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.ico_docu {
    margin-right: 2px;
    background-position: -110px -32px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.edit {
    margin-right: 2px;
    background-position: -110px -48px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.remove {
    margin-right: 2px;
    background-position: -110px -64px;
    vertical-align: top;
    *vertical-align: middle
}

ul.tmpTargetzTree {
    background-color: #FFE6B0;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.zTreeMask {
    z-index: 10000;
    background-color: #cfcfcf;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute
}

.modal {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    background: #fefefe;
    border: #333 solid 1px;
    border-radius: 5px;
    z-index: 11;
    max-width: 70vw;
    font-family: Consolas, Verdana, Arial, Helvetica, AppleGothic, sans-serif;
}

.modal-body {
    padding: 10px 20px;
    word-break: break-all;
}

.modal-header {
    padding: 12px 20px;
    border-bottom: #eee solid 1px;
    font-size: 20px;
    font-weight: bolder;
}
